# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

# Docker volumes e dados persistentes
/docker/data/*
!/docker/data/.gitkeep

# Excluir apenas dados de runtime, manter estrutura

echo "/docker/data/*" >> .gitignore
echo "!/docker/data/.gitkeep" >> .gitignore

