rule_files:
  - "coregate-saga-alerts.yml"

global:
  scrape_interval: 15s


alerting:
  alertmanagers:
    - static_configs:
        - targets:
            - "localhost:9093"

scrape_configs:
  - job_name: 'coregate'
    metrics_path: '/actuator/prometheus'
    static_configs:
      - targets: ['host.docker.internal:8080']
