.chart-container {
  background: var(--bg-card);
  padding: 1rem 2rem;
  border-radius: 0.8rem;
  border: 1px solid #30363d;
  color: var(--text-primary);

  h2 {
    color: var(--accent-blue);
    font-weight: 600;
    margin-bottom: 1rem;
  }
}
